<%- include('partials/_header'); %>
   <%- include('partials/_navigation'); %>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Requst A call for You</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <% if(flashMessages) { %>
         <% if(flashMessages.success) { %>
            <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
               <%= flashMessages.success %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
               <% } %>
                  <% if(flashMessages) { %>
                     <% if(flashMessages.error) { %>
                        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                           <%= flashMessages.error %>
                              <button type="button" class="btn-close" data-bs-dismiss="alert"
                                 aria-label="Close"></button>
                        </div>
                        <% } %>
                           <% } %>
                              <!--  contact -->
                              <div id="contact" class="contact">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <form method="POST" action="/contact" id="request" class="main_form">
                                             <div class="row">
                                                <div class="col-md-12 ">
                                                   <input class="contactus" placeholder="Your Name" type="type"
                                                      name="name" required>
                                                </div>
                                                <div class="col-md-12">
                                                   <input class="contactus" placeholder="Email" type="email"
                                                      name="email" required>
                                                </div>
                                                <div class="col-md-12">
                                                   <input class="contactus" type="tel" name="number"
                                                      placeholder="(+xx) xxx xxx xxxx">
                                                </div>
                                                <div class="col-md-12">
                                                   <input class="contactus" placeholder="Subject" type="type"
                                                      name="subject" required>
                                                </div>
                                                <div class="col-md-12">
                                                   <textarea class="textarea" placeholder="Message" type="type"
                                                      name="message" required></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                   <button class="send_btn">Send</button>
                                                </div>
                                             </div>
                                          </form>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="map_main">
                                             <div class="map-responsive">
                                                <iframe
                                                   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                                                   width="600" height="425" frameborder="0"
                                                   style="border:0; width: 100%;" allowfullscreen=""></iframe>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- end contact -->
                              <%- include('partials/_footer'); %>