<%- include('partials/_header'); %>

    <%- include('partials/_navigation'); %>

        <div class="all-title-box">
            <div class="container text-center mt-5 mb-3">
                <h1>
                    <%= course.name %>
                </h1>
            </div>
        </div>

        <div id="overviews" class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 blog-post-single">
                        <div class="blog-item">
                            <div class="image-blog">
                                <img src="images/blog_single.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="post-content">
                                <div class="meta-info-blog">
                                    <span><i class="fa fa-calendar"></i> <a href="#"><%= course.createdAt %></a> </span>
                                </div>
                                <div class="blog-title">
                                    <h2><a href="#" title="">
                                            <%= course.name %>
                                        </a></h2>
                                </div>
                                <div class="blog-desc">

                                    <blockquote class="default">
                                        <%= course.description %>
                                    </blockquote>

                                </div>
                            </div>
                        </div>

                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <%- include('partials/_footer'); %>